Host flat
HostName flat.strangeparty.com
User anton
ForwardX11Trusted yes
ForwardAgent yes
Compression yes

Host home
HostName home.strangeparty.com
User anton
ForwardX11Trusted yes
ForwardAgent yes
Compression yes

Host tickles
HostName tickles.strangeparty.com
User anton
ForwardX11 yes
ForwardX11Trusted yes
ForwardAgent yes
Compression yes

Host tc
HostName ssh.tastycake.net
ForwardAgent yes
User anton
Compression yes

Host cajun
HostName 192.168.0.2
ForwardAgent yes
User anton
ForwardX11 yes
ForwardX11Trusted yes
Compression yes





Host *
ServerAliveInterval 180
Compression yes
UseRoaming no
