Host flat
HostName flat.strangeparty.com
User anton
ForwardX11Trusted yes
ForwardAgent yes
Compression yes

Host home
HostName home.strangeparty.com
User anton
ForwardX11Trusted yes
ForwardAgent yes
Compression yes

Host tickles
HostName tickles.strangeparty.com
User anton
ForwardX11 yes
ForwardX11Trusted yes
ForwardAgent yes
Compression yes

Host lost
User anton
HostName lost.hursley.ibm.com
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes
Compression yes

Host tc
HostName kalimdor.tastycake.net
ForwardAgent yes
User anton
Compression yes

Host cajun
HostName 192.168.0.2
ForwardAgent yes
User anton
ForwardX11 yes
ForwardX11Trusted yes
Compression yes


# Work private VMs
#65
Host 192.168.56.*
  StrictHostKeyChecking no
  User root

#Host co-sim
#  HostName 192.168.56.3
#  StrictHostKeyChecking no
#  User root

Host co-build
  Host co-build
  StrictHostKeyChecking no
  User apiatek

Host co-build2
  StrictHostKeyChecking no
  User apiatek

Host build.latens.lan
  HostName 192.168.9.67

Host 192.168.8.130
  HostName 192.168.8.130
  User root


# SoMakeIt configs
Host toad
HostName toad.servers.somakeit.org.uk
Port 6022
User anton
Compression yes

Host toadlocal
HostName 10.0.0.2
User anton
Compression yes

Host yoshi
HostName yoshi.somakeit.org.uk
User anton
Compression yes

Host kong
HostName kong
User root
ForwardAgent yes
ProxyCommand ssh anton@toad -W %h:%p
Compression yes

Host konglocal
HostName kong
User root
Compression yes





Host *
ServerAliveInterval 180
Compression yes
